*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar-brand{
    margin-right: 150px;
    color: black;
    font-family: 'Dancing Script', cursive;
   
}
.nav-link{
    margin-left: 10px;
    margin-right: 10px;
    color: black;
    font-family: 'Roboto Condensed', sans-serif;
font-family: 'Space Mono', monospace;
font-size: 20px;
}
.search{
    height: 40px;
    width: 60%;
    border-radius: 60px;
    outline: none;
    margin-right: -35px;
    border: 2px solid rgb(248, 26, 92);
}
.btn0{
    height: 40px;
    width: 70px;
    outline: none;
    border: none;
    background-color: red;
    color: white;
    border-radius: 65px;
    font-weight: 700;
}
.main{
    background: url(../img/food);
    background-size: cover;
    height: 100vh;
    width: 100%;
    background-position: 50% 50%;
   
}
.main h1{
    font-size: 4rem;
    font-weight: 700;

}
.btn1{
    height: 45px;
    width: 35%;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    font-weight: 700;
    border-radius: 60px;
}
.col-lg-6{
    position: absolute;
    left: 50%;
    top: 30%;
}
.new img{
    width: 60px;
    height: 60px;
}
.btn2{
    height: 45px;
    width: 35%;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    font-weight: 700;
    border-radius: 60px;
    position: absolute;
    left: 30%;
    top: 50px;
   
}
.product{
    position: absolute;
    height: 100vh;
    width: 100%;
}
.news{
    background-color: black;
    color: white;
}
.btn3{
    height: 45px;
    width: 100px;
    background: white;
    margin-left: -10px;
    border: 2px solid white;
    font-weight: 600;

}
.news input{
    height: 45px;
    width: 55%;
    border: 2px solid white;
    outline: none;
    background: black;
    color: white;
    margin-top: 20px;
    font-weight: 600;
}
.news ::placeholder{
    color: white;
}
.new p{
    margin: 0;
    
}
.fab{
    font-size: 2.5rem;
    cursor: pointer;
    padding-right: 5px;
}
.card:hover{
    box-shadow: -2px 25px -4px rgba(0,0,0,0.75);
    -webkit-box-shadow: -2px -1px 25px -4px rgba(0,0,0,0.75);
    -moz-box-shadow:-2px -1px 25px -4px rgba(0,0,0,0.75);
    transition: 0.5s;
}